.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 240px;
}

.table {
  width: 240px;
  margin: auto;
}

.cell {
  width: 80px;
  height: 80px;
  margin: 0px;
  font-weight: bold;
}